* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #fffefe;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  max-width: 1480px;
}
.logo-icon{
  height: 30px;
  width: 30px;
}
.logo{
  display: flex;
  align-items: center;
  padding-left: 10px;
  gap: 5px;
}
.icon{
  height: 20px;
  width: 20px;
}
.youtube{
  font-size: 21px;
}
a {
  color: #000000;
  text-decoration: none;
}
.search{
  display:flex;
  gap: 10px;
}
.searchbar{
  display: flex;
  justify-content: space-between;
  width: 400px;
  padding: 7px;
  border: 1px solid #cec5c5;
  border-radius: 30px;
}
.search-box{
  border: none;
  width: 100px;
}
.mic-icon{
  height: 35px;
  width: 35px;
  background-color: #e9eafc;
  padding: 7px;
  border-radius: 50%;
}
button{
  padding: 10px;
  border-radius: 25px;
  margin-right: 5px;
  border: none;
}
.user-icon{
  height: 30px;
  width: 30px;
  background-color: #256f29;
  padding: 5px;
  margin-left: 15px;
  border-radius: 50%;
  font-size: 16px;
  color: #fffefe;
}
main {
  display: flex;
  height: 92vh;

}
nav{
  display: flex;
  flex-direction: column;
  height: 100xh;
  width: 250px;
  padding: 6px;
  gap: 6px;
  overflow-y: scroll;
}
.child{
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
}
.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.chanel{
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
.more{
  color: #958d96;
  font-size: 13px;
}
.parent{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.upper-bar{
  display: flex;
  justify-content: space-between;
  padding: 4px;
}
.part{
  border-radius: 10px;
  background-color: #e9eafc;
  padding: 8px;
  font-size: 16px;
}
.container{
  display: flex;
  flex: 1;
  justify-content: center;
  overflow-y: scroll;
}
.content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 1200px;
  height: 90%;
}
.item {
  text-align: left;
  justify-content: space-between;
  padding: 10px;
  border-radius: 25px;
  flex: 1 1 150px;
  gap: 20px;
}
.video {
  width: 300px;
  flex: 1 1 250px;
  border-radius: 5px;
  flex-direction: column;
}
.frame{
  width: 380px;
  flex: 1 1 250px;
  border-radius: 5px;
}
.bottom-video{
  display: flex;
  padding: 5px;
  gap: 5px;
}
.caption{
  flex: 1;
}
.bar {
  width: 250px;
  background-color: #877e88;
  flex: 1 1 150px;
}
