.container-fluid{
    justify-content: space-between;
}
.intro{
    background-color: rgb(14, 92, 236);
    height: 200px;
    text-align: center;
     color: aliceblue;
}
.content{
    justify-content: center;
    align-items: center;
}
body{
    align-items: center;
    justify-content: center;
}
.row{
    gap: 10px;
}