* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content {
    display: flex;
    background-color:  #ac5bcc;
    color: aliceblue;
    height: 100vh;
}
.history{
    display: flex;
    max-width: 300px;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    border: 1px solid rgb(100, 56, 119);
    background-color: #804598;
}
.middle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    padding: 10px;
    gap: 5px;
}
.part{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
header{
    display: flex;
    justify-content: space-between;
}
.head2{
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    width: 99%;
}
img{
    width: 30px;
    height: 30px;
}
.item {
    border: 1px solid #90799a;
    background-color: rgb(184, 147, 193);
    text-align:center;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.message {
    background: none;
    border:none;
}
.container{
    display: flex;
    flex: 5;
    align-items: center;
    flex-direction: column;
    gap: 165px;
}
.parent{
    display: flex;
    padding: 10px;
    flex-direction: column;
    border-radius: 15px;
    background-color: rgb(168, 116, 198);
    gap: 10px;
    width: 650px;
}
.child {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 1px solid rgb(78, 67, 87);
    border-radius: 25px;
}
.child1 {
    display: flex;
    justify-content: space-between;
}
.first{
    display: flex;
}
.parent2 {
    display: flex;
    padding-top: 10px;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}
.box {
    padding: 10px;
    color: rgb(228, 218, 231);
    flex:1;
    flex-wrap: wrap;
}
h1{
    text-align: center;
    padding: 15px;
}
footer{
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.help-icon{
    border: 1px solid rgb(137, 62, 137);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}