* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header {

    display: flex;
    border: 5px solid rgb(99, 12, 153);
    justify-content:space-between;
    flex-direction: row-reverse;
    padding: 5px;

}
.childs {
    gap:12px;
    text-decoration:none;
    display: flex;
    padding: 5px;
}
.bottom {
    border-radius:8px;
    border: 12px solid rgb(161, 15, 228);
    text-decoration: none;
    background-color: rgb(132, 73, 188);
    color: bisque;
    margin: 20px;
    text-align: center;
}
