div{
    border: 1px solid palevioletred;
    background-color: pink;
    animation: mymove 2s infinite;
    transition: all 2s;
    width: 100px;
    height: 100px;
}
div:hover{
    width: 50px;
    height: 50px;
}
@keyframes mymove {
    0% {transform:translate(100px,0);}
    20% {transform: rotate(90deg);}
    40% {transform: scale(2,1.5);}
    60% {transform: rotate(360deg);}
    80% {transform: scale(1,1);}
}
