<%- include("partials/header.ejs") %>
<div class="card text-bg-dark rounded-0 border-0 overflow-hidden">
  <img
    src="images/aboutimage.jpg"
    class="card-img rounded-0"
    width="300"
    height="557"
    alt="aboutimage"
  />
  <div class="card-img-overlay text-center p-4 mt-5">
    <h3 class="card-title fw-bold text-uppercase">About Us</h3>
    <p class="card-text fw-semibold mx-5">
      Welcome to Fashion Blog a global fashion playground where everyone's style
      has a story. Whether you're a bold trendsetter, a vintage soul, or just
      starting to explore your look, this is your space to create, share, and
      connect. We believe fashion is more than what you wear—it's your voice,
      your culture, your expression. From streetwear to runway dreams, Fashion
      Blog brings together a worldwide community of creators and fashion lovers
      to inspire and shape what's next in style.
    </p>
  </div>
</div>
<%- include("partials/footer.ejs") %>
